.g{
    margin: 0;
    width: calc(100% - 12px);
    border-radius: 3px;
    border: 0px;
    padding: 8px;
    font-size: 0.9em;
    background: #e9ebe9;
    background: var(--theme-top-bar-search-background, #e8e7e7);
    color: var(--theme-top-bar-search-color, #0a0a0a);
    -webkit-appearance: none;
  }
  .inp{
    //padding: 10px;
     font-weight: bold;
    border: 2px solid #db1b1b;
    box-shadow: 2px 3px 0 #f30808;
  }
  .p{
    padding: 3px 4px 5px;
  }
  
  .write {
    cursor: pointer;
    width: 100%;
    padding:1px;
    height: 3rem;
    top: 12px;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid #0a0a0a;
    border: 2px solid var(--theme-top-bar-write-color, #0a0a0a);
    color: var(--theme-top-bar-write-color, #0a0a0a);
      
    background: #cfd7ff;
    border: 1px solid #ef614e;
    box-shadow: 3px 4px 0px #ef7c4e;
  
    &:active {
        background-color: #b60c0c;
        box-shadow: 1px 1px rgb(230, 9, 9);
        transform: translateY(2px);
        
        color: white;
       
      }
  } 
  
  .RestarantCard{
    padding: 3%;
  }
  .container {
  
  // margin: 10px 0 0 10px;
  
  @media only screen and (max-width: 767.99px){
  
  //  padding: 5px 5px;
  border: px solid rgb(243, 11, 11);
    padding: 1px;
    border-style: dashed;
  
  }
  
  @media only screen and (min-width: 1000px){
    /// margin-left: 350px;
    width: 50%;
    margin-left: 25%;
    margin-top: 4%;
    border: 1px solid red;
    padding: 5px;
    border-style: none;
  
  }
  
  }
