
.nav{
    background: var(--theme-top-bar-background, #f71008fa);
    position: fixed;
    border-bottom: 5px solid rgba(0, 0, 0, 0.041);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    width: auto;
    max-width: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    padding: 5px;

    }
.food{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.write {
    position: absolute;
    left: 300px;
    top: 150px;
    cursor: pointer;
    width: 80px;
    padding: 12px;
    height: auto;
    top: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    border-right: 1px;
    border: 2px solid #0a0a0a;
    border: 2px solid var(--theme-top-bar-write-color, #f8caca);
    color: var(--theme-top-bar-write-color, rgb(1, 14, 1));
    background: var(--theme-top-bar-write-background, red);
    box-shadow: 5px 3px 0 #490303;     
   
} 
